body {
    font-family: Segoe UI, sans-serif;
    background-color: #F4F4F4;
    color: #333;
    margin: 0;
    padding: 0;
}

#vm-request-content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #DCE9F0;
    color: #333;
    cursor: pointer;
}

button:disabled {
    background-color: #B0BEC5;
    cursor: not-allowed;
}

.step {
    display: none;
}

#step-1, #step-2, #step-3 {
    display: block;
}
